/node_modules
/public/hot
/public/storage
/public/img/avatars/2020
/public/docs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
